Repository pocketsizefund/pocketsizefund, pull requests merged in 2025-06, with the labels that each got.

#575 Update Python test configuration files
  .mise.toml
  Dockerfile.tests
  tests.yaml
Labels: application, python

#581 Improve type annotations on gated residual network
  .gitignore
  application/predictionengine/src/predictionengine/gated_residual_network.py
Labels: application, python, bug

#579 Various cleanups on the loss function logic
  .gitignore
  application/predictionengine/src/predictionengine/gated_residual_network.py
  application/predictionengine/src/predictionengine/loss_function.py
  application/predictionengine/src/predictionengine/main.py
  application/predictionengine/tests/test_loss_function.py
Labels: application, python, bug

#578 Various `ty` requirement cleanups
  .gitignore
  application/predictionengine/src/predictionengine/dataset.py
  application/predictionengine/src/predictionengine/gated_residual_network.py
  application/predictionengine/src/predictionengine/long_short_term_memory.py
  application/predictionengine/src/predictionengine/loss_function.py
  application/predictionengine/src/predictionengine/main.py
  application/predictionengine/src/predictionengine/miniature_temporal_fusion_transformer.py
  application/predictionengine/tests/test_loss_function.py
  uv.lock
Labels: application, python, bug

#583 Add badges to README
  README.md
Labels: feature

#582 Add various fixes to dataset and call sites
  README.md
  application/predictionengine/src/predictionengine/dataset.py
  application/predictionengine/src/predictionengine/main.py
  application/predictionengine/src/predictionengine/miniature_temporal_fusion_transformer.py
Labels: application, python, bug

#589 smoke test for datamanager
  application/datamanager/src/datamanager/models.py
  infrastructure/ping.nu
Labels: application, python, feature

#585 Fix inter-service communication patterns
  .claude/settings.local.json
  .flox/env/manifest.toml
  application/datamanager/Dockerfile
  application/datamanager/pyproject.toml
  application/datamanager/src/datamanager/main.py
  application/datamanager/tests/test_datamanager_main.py
  application/datamanager/tests/test_datamanager_models.py
  application/positionmanager/pyproject.toml
  application/positionmanager/src/positionmanager/clients.py
  application/positionmanager/src/positionmanager/main.py
  application/predictionengine/Dockerfile
  application/predictionengine/pyproject.toml
  application/predictionengine/src/predictionengine/dataset.py
  application/predictionengine/src/predictionengine/long_short_term_memory.py
  application/predictionengine/src/predictionengine/loss_function.py
  application/predictionengine/src/predictionengine/main.py
  application/predictionengine/src/predictionengine/miniature_temporal_fusion_transformer.py
  application/predictionengine/src/predictionengine/multi_head_self_attention.py
  application/predictionengine/src/predictionengine/post_processor.py
  application/predictionengine/tests/test_dataset.py
  application/predictionengine/tests/test_long_short_term_memory.py
  application/predictionengine/tests/test_multi_head_self_attention.py
  infrastructure/monitoring.py
  infrastructure/pyproject.toml
  linter.nu
  pyproject.toml
  workflows/backfill_datamanager.py
  workflows/prediction_model.py
  workflows/pyproject.toml
  workflows/train_predctionengine.py
Labels: application, python, bug

#595 Convert default timezone to EST
  application/positionmanager/src/positionmanager/main.py
  application/predictionengine/src/predictionengine/main.py
Labels: application, python, bug

#598 Gate deployment triggers by market hours
  .github/workflows/deploy.yaml
Labels: infrastructure

#601 Expand initial Grafana metrics resources and upload script
  application/datamanager/src/datamanager/main.py
  application/positionmanager/src/positionmanager/clients.py
  application/positionmanager/src/positionmanager/main.py
  application/predictionengine/src/predictionengine/dataset.py
  infrastructure/__main__.py
  infrastructure/grafana_dashboard.json
  infrastructure/upload_grafana_dashboard.nu
Labels: application, python, infrastructure, feature

#602 Fix breaking deployment command
  .github/workflows/deploy.yaml
Labels: infrastructure, bug

#603 Reintroduce infrastructure launch Mise command
  .github/workflows/deploy.yaml
  .mise.toml
  infrastructure/.python-version
Labels: infrastructure, bug
